{
  "presets": [
    "react-native",
    "react-native-stage-0",
    "react-native-dotenv"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }]
  ]
}
